.btn_add_project{
	margin-top:20px;
	
}

.main_btn{
	width:80px;
	height:30px;
	border:1px solid black;
	line-height:30px;
	text-align:center;
	float:left;
	background-color: lightgray;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 5px 5px 5px 5px;
	cursor: pointer;
}
.add_project{
	width:25px;
	height:25px;
	float:left;
	background-color: black;
}

.project_name{
	float:left;
	width: 400px;
	margin-top: 20px;
}

.left_cont{
	width:50%;
	float:left;
}

.right_cont{
	width:50%;
	float:right;
}

.inner_cont{
	margin-left:30px;	
}

.ex_proj_cont{
	border: 1px solid black;
	width: 400px;
	overflow: hidden;
	min-height:29px;
}

.ex_proj_ind{
	overflow:hidden;
	width: 100%;
}

.main_head{
	color:#878787;
	font-family: serif;
	font-size: 35px;
	margin-left: 50px;
	margin-top: 20px;
}

.sub{
	margin-top:50px;	
}

.del_proj{
	background-color: black;
	width:16%;
	float:left;
	height:17px;
	margin:5px;
	cursor: pointer;
}

.proj_name{
	margin: 5px 0px 5px 5px;
	background-color: burlywood;
	width:80%;
	float:left;
	color: green;	
}